
body	{
	margin:0;
	padding:0;
	border:0;
}

fieldset, ol ,li	{
	margin : 0;
	padding : 0;
	border : 0;
	list-style: none
}

input[type=text]	{
	height:27px;
	border:0;
	border-bottom:1px solid #ABABAB;
	font: 14px "junctionregularRegular";
	outline: none;
}

input[type=button]	{
	width:100%;
	height:35px;
	overflow: hidden;
	border:0;
	font:18px "junctionregularRegular";
	color:white;
}

#application-wrapper	{
	width:100%;
	height:auto;
	overflow: hidden;
}

#form-control-wrapper	{
	width:25%;
	min-width:361px;
	height:94%;
	padding:2%;
	float:left;
}

.inner-shadow	{
	-moz-box-shadow:    inset 0px 0px 20px #171817;
  	-webkit-box-shadow: inset 0px 0px 20px #171817;
  	box-shadow:         inset 0px 0px 10px #171817;
}

#details-wrapper	{
	width:67%;
	height: 94%;
	padding: 2%;
	background-image: url(../images/bg-strip.jpeg);
	background-repeat: repeat;
	float:right;
	min-width:500px;
}


#form-wrapper	{
	width : 300px;
	height : auto;
	padding : 20px 20px 10px 20px;
	margin : 10px auto;
	background-color: white;
}

.drop-shadow	{
	-moz-box-shadow: 0px 0px 4px 1px #ABABAB;
  	-webkit-box-shadow: 0px 0px 4px 1px #ABABAB;
  	box-shadow: 0px 0px 4px 1px #ABABAB;
}

.drop-shadow-black	{
	-moz-box-shadow: 0px 0px 4px 1px #171817;
  	-webkit-box-shadow: 0px 0px 4px 1px #171817;
  	box-shadow: 0px 0px 4px 1px #171817;
}

.border-radius	{
	-webkit-border-radius:5px;
	-mox-border-radius:5px;
	border-radius:5px;
}

.linear-gradient-1	{
	background-color: #428EEA;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2B80E7), to(#428EEA));
	background: -webkit-linear-gradient(top, #428EEA, #2B80E7);
	background: -moz-linear-gradient(top, #428EEA, #2B80E7);
	background: -ms-linear-gradient(top, #428EEA, #2B80E7);
	background: -o-linear-gradient(top, #428EEA, #2B80E7);
}

#personal-details li 	{
	width:100%;
	height:auto;
	margin-bottom:20px;
}

#personal-details label	{
	margin-top:5px;
	width:120px;
	float:left;
	font : 16px "junctionregularRegular"
}
#personal-details input[type=text]	{
	width:300px;
	float:right;
}

#personal-details textarea	{
	width:300px;
	height:100px;
	float:right;
	border: 0;
	border-bottom: 1px solid #ABABAB;
	outline: none;
	font:12px "junctionregularRegular";
	line-height: 19px;
	margin-bottom:20px;
	resize: none;
}



#experience-details 	{
	width:100%;
	height:auto;
	padding-top:20px;
	overflow: hidden;
}

#personal-details #experience-details li	{
	width:60px;
	height:60px;
	float:left;
}

#experience-details label	{
	width:60px;
	font-size: 13px;
}

#experience-details input[type=text]	{
	width:57px;
	border-bottom:1px solid #ABABAB;
	margin-top:5px;
	text-align: center;
	font-size: 14px;
	float:left;
}

#stats-details ol	{
	width:100%;
	height:auto;
	padding-top:20px;
	overflow: hidden;
}

#personal-details #stats-details li	{
	width:100px;
	height:40px;
	float:left;
	text-align: center;
}

#stats-details h1	{
	font:16px "junctionregularRegular";
}

#stats-details #points	{
	text-align: right;
	font: 30px "junctionregularRegular";
}

#stats-details label	{
	width:150px;
	font-size: 13px;
}

#stats-details input[type=text]	{
	width:150px;
	border:1px solid #ABABAB;
	margin-top:5px;
	text-align: center;
	font-size: 14px;
	float:left;
}

.details-card	{
	width:250px;
	height:auto;
	padding:40px 10px 10px 40px;
	margin: 10px 10px 10px 10px;
	background-color: white;
	float: left;
}

.details-card h1	{
	font:22px "junctionregularRegular";
	margin: 0;
	padding: 0;
}

.desc 	{
	font:12px "junctionregularRegular";
	line-height: 19px;
	margin: 0;
	margin-top: 5px;
	margin-bottom: 10px;
}

.details-card h2 	{
	font:14px "junctionregularRegular";
	margin: 0;
	margin-top: 5px;
	margin-bottom: 20px;
}

.details-card .experinece-point	{
	width:46%;
	height:50px;
	float: left;
	text-align: right;
	font: 16px "Arial";
	padding: 2%;
}

.details-card .exp-points	{
	width:21%;
	height:50px;
	float: left;
	font: 31px "Arial";
	padding: 2%;
}

.details-card .status	{
	width: 20%;
	height: 50px;
	float: left;
	padding: 2% 2% 2% 3%;
}
